ul {
    display: inline-block;
    text-align: center;
}

body {
    margin:50px 0; padding:0;
    text-align:center;
}

.tweet {
    padding-top: 12px;
    padding-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    background: #f2f2f2;
    margin-bottom: 10px;
}

#cweet{
    margin-top : 50px;
}

.date-cweet{
    font-family: "Times New Roman";
    font-size : 14px;
    font-weight: bold;
}